<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({{ city.details.img }});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 ftco-animate">
          <h1 class="mb-3">{{ city.details.city }}, {{ city.details.country }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<label class="btn btn-outline-primary back-btn">
  <input class="hide-cb"onclick="history.back()">Go Back
</label>

<div class="container about-city">
  <div>
      {{#if user}}
        <img width="30" height="30" class="heart-icon" city-id="{{city.details._id}}" src="/images/heart_inactive.png" alt="Add {{city.details.city}} to favorites" >
      {{else}}
        <a href="/login">
          <img width="30" height="30" class="heart-icon" city-id="{{city.details._id}}" src="/images/heart_inactive.png" alt="Add {{city.details.city}} to favorites" >
        </a>
      {{/if}}
    <h4>About</h4>
  </div>

  <div class="row">
    <div class="col-md-7">{{ city.description }}</div>
    <div class="col-md-5"><div id="map" class="map-vertical"></div></div>
  </div>


  {{!-- mapbox logic --}}
  <script>
    mapboxgl.accessToken = "{{ city.mapboxAPIKey }}";
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [{{ city.details.lng }}, {{ city.details.lat }}],
    zoom: 10
});

    const marker = new mapboxgl.Marker()
      .setLngLat([{{ city.details.lng }}, {{ city.details.lat }}])
      .addTo(map);
  </script>
  {{!-- end mapbox --}}

</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link active show" data-toggle="tab" href="#comments"><b>Comments</b></a>
  </ul>

  <div class="tab-content">
    <div id="comments" class="tab-pane container active">
      <br>
      <div id="commentForm" city-id={{ city.details._id }}>
        <div class="form-group">
          {{#if user}}
              <label for="email" class="col-sm-3 control-label">Let us know about your trip</label>
              <div class="col-sm-10">
              <textarea maxlength="300" class="form-control" name="content" id="addComment" rows="5"></textarea>
          {{else}}
              <label for="email" class="col-sm-4 control-label">Sign in to let us know about your trip</label>
              <div class="col-sm-10">
              <textarea maxlength="300" class="form-control" name="content" id="addComment" rows="5"  disabled></textarea>
          {{/if}}
            
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="col-sm-offset-2 col-sm-10">
                {{#if user}}
                  <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submitComment">
                  <span class="glyphicon glyphicon-send"></span>Submit</button>
                {{else}}
                  <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submitComment" data-toggle="tooltip" data-placement="top" title="Sign in to add comments">
                  <span class="glyphicon glyphicon-send"></span>Submit</button>
                {{/if}}
              </div>
            </div>
          </div>

          <br>

          <div id="userComments">
            {{#each city.details.posts}}
              <div class="media border p-3 ftco-animate">
                <img src={{ this.user.image }} alt={{ this.user.username }} class="mr-3 mt-3 rounded-circle"
                  style="width:60px; height:60px;">
                <div class="media-body">
                  <h4>{{ this.user.username }} <small><i>{{ this.createdAt }}</i></small></h4>
                  <p>{{ this.content }}</p>
                </div>
                {{#if this.owner}}
                  <a class="btn" href="/post/edit/{{ this._id }}">Edit</a>
                  <a class="btn" href="/post/delete/{{ this._id }}/{{ ../city.details._id }}">Delete</a>
                {{/if}}
              </div>
            {{/each}}
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>