<div class="destination-list">
  <div>
    <h1>Your Top 10 Destinations</h1>
  </div>
  {{#each places}}
  <div class="destination">
    <h2>{{this.name}}, {{this.country_name}}</h2>
    <img width="550" height="350" src={{this.img}}>
    <h4>Rating: {{this.rate}}</h4>
    <h4>Occurences: {{this.count}}</h4> (for testing purposes, to be removed later)
  </div>
  {{/each}}
</div>