<div class="small-nav"></div>
<div class="container">
  <div class="row slider-text align-items-center">
    <div class="col-md-7 col-sm-12 ftco-animate">
      <br>
      <h1 class="mb-3">Welcome, {{ user.username }}.</h1>
    </div>
  </div>
</div>

<div class="profile-container">
  <div class="profile-inner">
    <div class="row">

      <div class="col-md-5">
        <img class="rounded-circle profile-image" src="{{ user.image }}" alt="Profile image">
      </div>

      <div class="col-md-5">
        <h4>Username</h4>
        {{ user.username }}
        <h4>Email address</h4>
        <p>{{ user.email }}</p>
        <h4>Member since</h4>
        <p>{{ user.createdAt }}</p>
      </div>

      <div class="col-md-2">
        <div class="buttons">
          <a href="/{{ user.username }}/settings" class="btn btn-primary">Edit Profile</a><br>
          <a href="/{{ user._id }}/delete" class="btn btn-primary">Delete Profile</a>
        </div>
      </div>
    </div>

    <div class="text-center heading-section">
      <h1>Favorites</h1>
    </div>
    <div id="map" class="map-horizontal"></div><br>

    {{!-- mapbox logic --}}
    <script>
      mapboxgl.accessToken = "{{ userInfo.mapboxAPIKey }}";
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [{{userInfo.loggedInUser.favorites.[0].lng}} , {{userInfo.loggedInUser.favorites.[1].lat}}],
        zoom: 2
      });

        {{#each userInfo.loggedInUser.favorites}}
          new mapboxgl.Marker()
          .setLngLat([{{this.lng}}, {{this.lat}}])
          .addTo(map);
        {{/each}}
    </script>
    {{!-- end mapbox --}}

      <div class="container-fluid">
        <div class="row ">
          {{#each userInfo.loggedInUser.favorites}}
          <div class="col-md-6 col-lg-3 ftco-animate">
            <a href="/city/{{ this.city_ascii }},_{{ this.country }}" class="block-5"
              style="background-image: url({{this.img}});">
              <div class="text">
                <h3 class="heading">{{ this.city }}, {{ this.country }}</h3>
                <div class="post-meta">
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div><br>

  </div>
</div>