<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('https://images.pexels.com/photos/3014826/pexels-photo-3014826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 ftco-animate">
          <h1 class="mb-3">Welcome, {{ user.username }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>E-mail address: {{ user.email }}</p>
    <br>
    <button><a href="/{{ user.username }}/settings">Edit Profile</a></button><br>
    <button><a href="/post/create">Make a Post</a></button>
    <br>
    <div class="profile-image">
        <img class="rounded-circle" src="{{ user.image }}" alt="Profile image">
    </div>
</div>

<div>
    <button><a href="/logout">Logout</a></button>
</div>
<div>
    <button><a href="/{{ user._id }}/delete">Delete profile</a></button>
</div>
