<div>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <br>
    <button><a href="/{{ user.username }}/settings">Profile settings</a></button>
    <button><a href="/blog/create">Make a Post</a></button>
    <br>
    <div class="profile-image">
        <img class="rounded-circle" src="{{ user.image }}" alt="Profile image">
    </div>
</div>

<div>
    <button><a href="/{{ user._id }}/delete">Delete profile</a></button>
</div>

<div>
    <ul>
        {{#each loggedInUser.posts}}
            <li><a href="/blog/edit/{{ this._id }}">{{ this.title }}</a></li>
            <form action="/blog/delete/{{ this._id }}" method="post">
                <button>Delete post</button>
            </form>
        {{/each}}
    </ul>
</div>
